.header{
    max-width: 100w;
    width: 100vw;
    height: 40vh;
    position: relative;
    background-image: url('../images/headerBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:0 0 10px black, 0 0 15px black ; 
    z-index: 2;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg,rgba(19, 19, 19, 0.7),rgba(19, 19, 19, 0.7),rgba(166, 156, 156, 0.7));
}
.navigation{
    position: relative;
    width: 100%;
    height: 20%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    position: relative;
    width: 100%;
    height: 80%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}