.resultLoading {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.resultContainer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.resultContainer .resultDetails {
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
}

.resultDetails .resultImage {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.resultDetails .resultImage img {
    border: solid 8px black;
    border-radius: 30px;
}

.resultDetails .details {
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.resultDetails .details h1 {
    font-size: 3.5rem;
}

.resultDetails .details h1 span {
    color: rgb(181, 10, 10);
}

.resultDetails .details h2 {
    font-size: 2.5rem;
}

.resultDetails .details h2 span {
    color: rgb(181, 10, 10);
}
.resultDetails .details h3 {
    font-size: 1.5rem;
}

.resultDetails .details h3 span {
    color: rgb(181, 10, 10);
}
.resultContainer .resultMargin{
    position: relative;
    margin: 3rem;
    width: calc(100% - 6rem);
    height: 1rem;
    background-color: rgb(158, 15, 15);
    margin-top: 2rem;
    border-radius: 10px;
}
.resultContainer .moreDetails{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.resultContainer .moreDetails .ingredients{
    position: relative;
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    border-right: solid 4px rgb(158, 15, 15);
}
.resultContainer .moreDetails .ingredients h1{
    margin-bottom: 2rem;
    text-decoration: underline;
    color: rgb(158, 15, 15);
}
.resultContainer .moreDetails .procedure{
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.resultContainer .moreDetails .procedure h1{
    margin-bottom: 2rem;
    text-decoration: underline;
    color: rgb(158, 15, 15);
}